<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <title>Vue.JS Practice</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>

<body>
    <div id="app">
        <h1 v-text="message"></h1>
        <h1 v-html="intro" v-show="isViewed"></h1>
        <input type="text" v-model="url">
        <input type="button" @click='humanizeUrl' class="btn btn-primary" value="Humanize ME!">
        <p>
            <label>Visit: <a :href="url">{{humanizedUrl}}</a></label>
        </p>
        <label>Count: {{count}}</label>
        <input type="button" v-on:click='countUp' class="btn btn-primary" value="Count Up">
        <input type="button" @click='countDown' class="btn btn-danger" value="Count Down">
        <img v-bind:src="img" v-bind:alt="message" :title="message" />
        <ul>
            <li style="list-style-type:none" v-for="todo in todos">{{todo.id}}) {{todo.text}}</li>
        </ul>
        <ul>
            <li style="list-style-type:none" v-for="count in 10">Counting #{{count}}</li>
        </ul>
    </div>
    
    <div id="app2">
        <div style="text-align:center;"><h1>{{fullname}}</h1></div>
        <input type="text" placeholder="First Name" v-model='fname'>
        <input type="text" placeholder="Last Name" v-model='lname'>
    </div>


    <script type="text/javascript" src="https://unpkg.com/vue@2.3.2"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>

</html>
